/*INICIO BIO  */
.biografia {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  padding:20px 30px 0px 30px;
  margin-bottom: 50px;
  background-color:var(--background);
  /* poner padding left y rigth en general
  para poder central al medio todo. */
}
.inicio {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: var(--background);
}
.inicio1 {
  color: var(--letras2);
  width: 380px;
  height: fit-content;
  font-size: 11px;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--background);
  line-height: 1.6;
}
.inicio3 {
  font-size: 10px;
}
.inicio2 {
  display:none;
}
@media (min-width:470px) {
.inicio1 {
  padding-right: 7px;
}
/* inicio 2 */
.cardsBio {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.inicio2 {
  display:flex;
  width: 230px;
  height: 383px;
  border: 1px solid var(--blanco);
  background-color:var(--bordeclaro);
  justify-content: center;
  align-items:stretch ;/* donde empieza el borde. */
  
}
.rectangulo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 217px;
  height: 380px;
  gap: 3px;
  background-color: var(--bordeclaro);
}
.rec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  background-color: var(--backgroundTitulo);
  padding: 2px 9px 2px 9px;
  width: 218px;
  height: 35px;
}
.titleRec {
  font-size: 18px;
  font-family: 'Lisu Bosa', serif;
  color: var(--background);
}
.imagen1 {
  display: flex;
  width: 125px;
  height: 183px;
  object-fit: cover;
}
.info {
  width: 100%;
  height: 150px;
  background-color:var(--bordeclaro);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 8px;
  }
.infoPersonal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 17px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: var(--backgroundTitulo);
  
}
.fila1 {
  list-style: none;
  text-decoration: none;
  margin: 0;
  margin-top: 3px; 
  padding: 0;
}
.subTitle {
  height: 15px;
  width: 79px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  padding-left: 5px;
  font-size: 11px;
  margin: 0;
  list-style: none;
}
.subTitle2 {
  height: 15px;
  list-style: none;
  width: 115px;
  text-decoration: none;
  padding-left: 9px;
  font-size: 11px;
  margin: 0;
  list-style: none;
}
.fila2 {
  margin: 0;
  margin-top: 3px; 
  padding: 0;
  list-style: none;
  text-decoration: none;
  width:110px ;
}
.personal {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 9px;
  line-height: 1.4;
  margin: 0;
  background-color: var(--bordeclaro);
}
.infoEducacion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  width:100%;
  height: 17px;
  background-color: var(--backgroundTitulo);
}
.educacion {
  display: flex;
  width: 100%;
  height: 47px;
  font-size: 9px;
  line-height: 1.4;
  margin: 0;
  background-color:var(--bordeclaro);
}
.logoPlatzi {
  color: greenyellow;
  font-size: 10px;
}
}
@media (min-width:515px) {
  .fila1 {
    margin-top: 5px;
  }
  .fila2 {
    margin-top: 5px;
  }
  }
@media (min-width:600px) {
  .inicio1 {
    font-size: 14px;
  }/* 
  .subTitle2 {
    font-size: 13px;
  } */
  .logoPlatzi {
    font-size: 13px;
  }
  }
@media (min-width:700px) {
  .inicio {
    display: flex;
    justify-content: space-evenly;
  }
  .inicio1 {
    width: 50%;
  }
  .inicio2 {
    width: 236px;
    height: 401px;
  }
  .rectangulo {
    width: 226px;
    height: 388px;
  }
  .titleRec {
    font-size: 20px;
  }
  .rec1 {
    height: 33px;
    width: 226px;
  }
  .info {
    height: 100%;
  }
  .personal {
    height: 60px;
  }
  .educacion {
    height: 60px;
  }
  .fila1 {
    margin-top: 8px;
  }
  .fila2 {
    margin-top: 8px;
  }
}
@media (min-width:800px) {
  .biografia {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inicio {
    display: flex;
    justify-content: center;
  }
  .inicio1 {
    font-size:15px;
    line-height: 1.85;
  }
  .inicio2 {
    width: 255px;
    height: 404px;
  }
  .rectangulo {
    width: 242px;
  }
  .rec1 {
    width: 242px;
  }
  .subTitle {
    width: 95px;
    font-size: 13px;
  }
  .subTitle2 {
    width: 142px;
    font-size: 13px;
  }
  .logoPlatzi {
    font-size: 12px;
  }
}