.sectionCards {
  width: 100%;
  height: fit-content;
  margin: 30px 0 30px 0;
}
.containerCards {
  width: 100%;
  height: fit-content;
  display: grid;
  justify-content: center;
  gap: 30px;
}
.card {
  width: 250px;
  height: 366px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--letras2);
  border-radius: 20px;
  background-color: var(--card)
}
.card:hover {
  box-shadow: 0px 0px 16px 5px var(--cardsombra);
}
.containerImage {
  width: 230px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px 14px 0px 0px;
  border: 2px solid var(--cardborde);
}
.description {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  border-top: 1px solid var(--cardborde);
}
.title {
  font-size: 18px;
  font-family: 'Lisu Bosa', serif;
  text-align: center;
  margin: 10px 0 10px 0;
  color: var(--letras2);
}
.textCard {
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  width: 80%;
}
.link {
  width: 50px;
  height: 55px;
  position: absolute;
  right: calc(50% - 75%);
  border-radius: 50%;
  background-color: var(--backgroundTitulo);
  display: flex;
  justify-content: center;
  align-items: center;
}
.url {
  color:var(--cardborde);
}
.url:hover {
  font-size: 20px;
  color: var(--background2);
}
@media (min-width: 768px) {
  .containerCards {
    grid-template-columns: repeat(2, auto);
    gap: 75px
  }
}
@media (min-width: 1024px) {
  .containerCards {
    grid-template-columns: repeat(3, auto);
    gap: 80px;
  }
}
@media (min-width: 1440px) {
  .containerCards {
    grid-template-columns: repeat(4, auto);
    gap: 80px;
  }
}