.inicioV {
  display: none;
}
.rectanguloV {
  display: none;/* 
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 380px;
  gap: 3px;
  background-color: var(--bordeclaro); */
}
.video1 {
  display: none;/* 
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  background-color: var(--backgroundTitulo);
  padding: 2px 9px 2px 9px;
  width: 196px;
  height: 27px; */
}
.imagenV {
  display:none;
}
@media (min-width:470px) {

.inicioV {
  display:flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  width: 230px;
  height: 200px;
  border: 1px solid var(--blanco);
  background-color:var(--bordeclaro);
}
.rectanguloV {
  display: flex;
  width: 230px;
  height: 200px;
}
.video1 {
  display: flex;
  width: 210px;
  height: 124px;
}
.imagenV {
  display: flex;
  width: 210px;
  height: 124px;
  object-fit: cover;
}
}