.contenedor {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}
.card {
  width: 80%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-card);
  border-radius: 12px;
  border: 2px solid var(--azul1);
}
.contenedorImg {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.imgContact {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 60px;
  border: 1px solid var(--borde);
  filter: drop-shadow(8px 8px 4px #1990ff);
}
.redes {
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.redesIcon {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imgText {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  margin: 0;
  font-family: 'Lisu Bosa', serif;
}
.icons {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}
.iconCard1 {
  font-size: 20px;
  color: var(--background);
  border: 1px solid var(--background);
  border-radius: 4px;
}
.iconCard2 {
  font-size: 20px;
  color: var(--azul1);
  border: 1px solid var(--azul1);
  border-radius: 4px;
}
.iconCard3 {
  font-size: 20px;
  color: var(--rojo);
  border: 1px solid var(--rojo);
  border-radius: 4px;
}
.textRedes {
  font-size: 15px;
  font-family: 'Lisu Bosa', serif;
  font-style: italic;
  font-weight: 700;
  color: var(--card);
  margin:0;
  margin-top: 10px;
}
.iconCard1:hover,
.iconCard2:hover,
.iconCard3:hover {
  animation: animacion 0.8s;
}

@keyframes animacion {
  0%,
  100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
  }
  15% {
        transform: translateX(-10px) rotate(-6deg);
  }
  30% {
        transform: translateX(10px) rotate(6deg);
  }
  45% {
        transform: translateX(-10px) rotate(-3.6deg);
  }
  60% {
        transform: translateX(9px) rotate(2.4deg);
  }
  75% {
        transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes gradient {/* animar fondo contacto.  */
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (min-width: 450px) {
  .imgText {
    font-size: 17px;
  }
}
@media (min-width: 600px) {
  .imgText {
    font-size: 20px;
  }
  .card {
    width: 482px;
  }
}
@media (min-width: 768px) {
  
  .redesIcon {
    width: 77%;
  }
  .imgText {
    font-size: 22px;
  }
  .iconCard1,
  .iconCard2,
  .iconCard3 {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 582px;
  }
  .redesIcon {
    width: 77%;
  }/* 
  .imgText {
    font-size: 17px;
  } */
  .iconCard1,
  .iconCard2,
  .iconCard3 {
    font-size: 29px;
  }
  .textRedes {
    font-size: 17px;
  }
}
@media (min-width: 1440px) {
  .card {
    height: 150px;
  }
  .redesIcon {
      width: 60%;
  }/* 
  .imgText {
    font-size: 18px;
  } */
  .iconCard1,
  .iconCard2,
  .iconCard3 {
    font-size: 31px;
}

}