/* navBar general */
.logo {
  display: none;
  width: 50px;
  height: 45px;
  padding-right: 10px;
}

.logo2 {
  width: 120px;
  height: 18px;
}
.logo3 {
  width: 100%;
  height: 17px;
}
.textWiki {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-right: 5px;
}
.containerIcon{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  width: fit-content;/* no hace nada */
  height:fit-content;
  
}

/* FALTA DEFINIR BIEN TAMAÑOS EN LOGOS(donde se llama al componente GENERAL Y ACÁ */
@media(min-width: 450px) {
  .logo{
    display: flex;
  }
}

