.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:97vw;
  height: 65px;
  padding-left: 1.5em;
}
/* NavbarLeft */
.navbarLeft {/* hay un pequeño españo pór revolver en el header */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:220px;/* 220 */
  position: relative;
  height: 65px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 44px;
  padding: 2px;
  position: relative;
  
}
.blue {
  border: 2px solid var(--azul1);
}
.divIcon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.menuIcon {
  min-width: 20px;
  min-height: 20px;
  color: var(--letras2);
  width: 20px;
  height: 25px;
  cursor: pointer;
}


/* navbar del menú */
.menuNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 0;
  top: 42px ;
  transform: translateX(48px);
  position: absolute;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;  /* Modificar la duración y la función de temporización */
  opacity: 0;
  z-index: 10;
}
.menuNavActive {
  height: 77px;
  opacity: 1;
  overflow: hidden;
  transition: all 0.7s ease;
}
.navbar {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid var(--bordeoscuro);
  background-color: var(--backgroundNav);
  color: var(--color1);
  height: 0;
  width: 140px;
  margin: 0;
  padding-left: 0;
  transition: height 0.5s ease, opacity 0.5s ease;  
  opacity: 0;
}
  .navbarActive {
  display: flex ;
  height: 77px;
  opacity: 1;
} 

.navbar1 {
  display: flex;
  align-items: flex-start;
  font-size: 0.8em;
  width: 90%;
  margin: 10px 5px 10px 10px;
}
.textnav {
  list-style: none;
  text-decoration: none;/* hacer mas gruesa */
  color: var(--azul1);
}

/* aviso */

.containerCambio {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.luna {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lunaOff {
  display: none;
}
.sol {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
}
.solOff {
  display: none;
}

/* navbar Rigth */
.navbarRigth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100px;
  padding-right: 15px;
  height: 65px;
}
.navbarRigthOpen {
  width: 445px;
  justify-content: space-between;
}
.cajaSearch {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
  width: 130px;/* 270 */
  transition: all 1s ease ;;
}
.cajaSearchOpen {
  justify-content: flex-start;
  width: 100%;
}
.cajaSearch input[type='text'] {
  padding-left: 20px;
} 
.search {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  border: 0;
  width: 20px;
  height: 20px;
  background-color: var(--background);
  color: var(--letras2);
  transition: width 2s ease;
  opacity: 0;
  animation: slideSearch 0.5s linear 0s 1 normal forwards
}
.searchOpen{
  display: flex;
  justify-content: flex-start;
  padding-left: 28px;
  outline: none;
  width: 115px;
  height: 32px;
  border-radius: 2px;
  border: 2px solid var(--azul2);
  opacity: 1;
}

@keyframes slideSearch {
	0% {
		transform: scaleX(0);
		transform-origin: 0% 0%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 0% 0%;
	}
}
/* .searchOpen::placeholder {
  padding-left: 25px;
} */
.searchOpen input[type="text"] {
  padding-left: 25px;
}

.SearchIcon {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  margin-left: 10px;
  color: var(--letras2);
  transition: opacity 0.5s ease;
  
}
.navUser1 {
  display:none;
  justify-content: space-evenly;
  align-items: center;
  width: 192px;
  height: 65px;
}
.navUser0{
  display: none;
}
.navUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 250px;
  padding: 2px;
}
.textUser {
  display: flex;/* flex */
  font-size: 0.7em;
  padding-left: 2px;/* revisar que esta todo muy cerca */
  color:var(--azul1);
}
.options {
  transform: rotate(90deg);
  width: fit-content;
}

/* responsive */
@media(min-width: 450px) {
  .searchOpen{
    width: 115px;
  }
  .navbarLeft {
    width:2350px;
  }
  .menu {
    width: 44px;
  }
  .navbar1 {
    font-size: 0.876em;
  }
}

@media(min-width: 470px) {
  .searchOpen {
    width: 130px;
  }
}
@media(min-width: 550px) {
  .searchOpen {
    width: 160px;
  }
}
@media(min-width: 600px) {
  .searchOpen {
    width: 100%;
  }

  .navbarRigth {
  width:1600px;
  }
  .cajaSearch {
    width: 100%;
  }
  .navUser1 {
    display:flex;
  }
  .navUser0 {
    display: none;
  }
  .textUser {
    font-size: 0.8em;
  }
}

@media(min-width: 800px) {
  .textUser {
    font-size: 0.876em;
  }
}