/* generales */
.nav2 {
  height: 68px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--letras2);
  
}
/* navLeft */
.navleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 68px;
  width: 200px;
  position: relative;
}
.menu2{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu2Blue {
  border: 2px solid var(--azul1);

}
.menuHome {
  width: 20px;
  height: 20px;
  color: var(--letras2);
  
}
.menuHome2 {
  flex-direction: column;
  justify-content: center;
  width: 115px;
  height: 0;
  top: 54px;
  background-color: var(--backgroundNav);
  border: 1px solid var(--bordeoscuro);
  position: absolute;
  opacity: 0;
  transition: height 0.7s ease, opacity 0.7s ease; 
}
.menuHome2Open {
  display: flex;
  height: 140px;
  opacity: 1;
}
.listZonas {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.menuList {
  display: none;
  flex-direction: column;
  width: 110px;
  height: 0;
  margin: 0;
  padding-left: 9px;
  transition: height 0.7s ease, opacity 0.7s ease;  
  opacity: 0;
  
}
.menuListActive  {
  display: flex;
  height: auto;
  opacity: 1;
}

.zonas {
  width: 100%;
  height: 30px;
  list-style: none;
  text-decoration: none;
  font-size: 0.8em;
}
.title {
  font-family: 'Lisu Bosa', serif;
  font-weight: 500;
  margin: 0;
  font-size: 25px;
  color: var(--letras2)
}
/* nadRigth */
.inputIdiomas {
  display: flex;
  width: 160px;
  height: 35px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.idiomas {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 5px;
  position: relative;
  width: 160px;
  border-radius: 10px 10px 0 0;
}
.idiomas:hover {
  background-color: var(--bordeoscuro);
}
.iconLeng {
  width: 17px;
  height: 22px;
}
.cantidadIdiomas {
  font-size: 0.8em;
  margin: 0;
  padding-left: 5px;
  width: 100px;
  color: var(--azul1);
}
.arrow {
  color:  var(--azul1);
}
.listIdiomas{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--backgroundclaro);
  position: absolute;
  top: 117px;
  list-style:none;
  border-radius: 0px 0px 18px 18px;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}
.listIdiomaOpen {
  opacity: 1;
  max-height: 35px;
}
.idiomas2 {
  padding: 8px 0 8px 0;
  font-size: 0.8em;
}
/* NAV3 */
.nav3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--bordeclaro);
  padding-left: 24px;
  padding-right: 24px;
  
  
}
.nav3Left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px;
}
.articulo {
  font-size: 12px;
  color: var(--letras2);
  border-bottom: 2px solid var(--letras2);
  
}
.discusion {
  display: flex;
  align-items: center;
  width: 127px;
  font-size: 12px;
  color: var(--azul1);
  padding-left: 20px;
}
.anclaDiscusion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.logoLink {
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-left: 5px;
  color: var(--background2);
}
.nav3Rigth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  height: 50px;
}
.herramientas {
  width: 100px;
  color: var(--azul1);
  font-size: 12px;
  padding-right: 10px;
}
.proyectos {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid var(--bordeclaro);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.proyectosText {
  width: 120px;
  font-size: 22px;
  padding-left: 20px;
  font-family: 'Lisu Bosa', serif;
  color: var(--letras2);
  margin:10px 0 10px 0;
}
@media (min-width:450px) {
  .zonas {
    font-size: 0.876em;
  }
}
@media (min-width:470px) {
  .iconLeng {
    width: 22px;
  }
  .cantidadIdiomas {
    font-size: 0.876em;
    width: 120px;
  }
  .idiomas2 {
    font-size: 0.9em;
  }
  .title {
    font-size: 37px;
  }
  .articulo {
    font-size: 15px;
  }
  .discusion {
    font-size: 15px;
  }
  .herramientas {
    font-size: 15px;
  }
}