  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;700&family=Lisu+Bosa:ital,wght@0,400;0,700;1,200&display=swap');
  
  :root {
    --background: white;
    --background2:#23272f;
    --backgroundclaro:#75a0f7;
    --backgroundTitulo:#acc7ff;
    --color1:white;
    --letras:#3366cc;
    --letras2:black;
    --azul1:#3366cc;
    --azul2:#36c;
    --bordeclaro:rgb(191, 191, 191);
    --bordeoscuro:#78a4fc37;
    --borde:#3366cc;
    --grisclaro:rgba(177, 177, 177, 0.226); 
  }
  [data-theme='dark'] {
    --background:#23272f;
    --background2:rgb(200, 200, 200);
    --backgroundclaro:#75a0f7;
    --backgroundTitulo:#acc7ff;
    --color1:rgb(7, 7, 7);
    --letras:#3366cc;
    --letras2:rgb(212, 212, 212);
    --azul1:#3366cc;
    --azul2:#36c;
    --bordeclaro:gray;
    --bordeoscuro:#78a4fc37;
    --borde:#3366cc;
    --grisclaro:rgba(104, 104, 104, 0.193); 
}
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Lisu Bosa', serif; */
    padding: 0;/* 
    background-color: hsl(0, 0%, 70%); */
    margin: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items:start;
    height: 100vh;
    background-color: var(--background);
  }

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */