  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;700&family=Lisu+Bosa:ital,wght@0,400;0,700;1,200&display=swap');
  
  :root {
    --background: white;
    --background2:#23272f;
    --backgroundclaro:#75a0f7;
    --backgroundTitulo:#acc7ff;
    --backgroundNav:white;
    --color1:white;
    --letras:#3366cc;
    --letras2:black;
    --azul1:#3366cc;
    --azul2:#36c;
    --bordeclaro:rgb(237, 237, 237);
    --bordeoscuro:#78a4fc37;
    --borde:#3366cc;
    --grisclaro:rgba(101, 101, 101, 0.226); 
    --link:#83ec38;
    --prueba:#ff2af4;
    --prueba2:#2affca;
    --gris:#000000a6;
    --blanco:#3e839abb;
    --rojo:#ff1b1b;
    --card:rgba(163, 194, 255, 0.671);
    --cardborde:#646b5e6e; 
    --cardsombra:#23272f;
    --background-card: #1c2332;
  }
  [data-theme='dark'] {
    --background:#23272f;
    --background2:rgb(200, 200, 200);
    --backgroundclaro:#75a0f7;
    --backgroundTitulo:#acc7ff;
    --backgroundNav: rgb(212, 212, 212);
    --color1:rgb(7, 7, 7);
    --letras:#3366cc;
    --letras2:rgb(212, 212, 212);
    --azul1:#3366cc;
    --azul2:#36c;
    --bordeclaro:rgb(118, 116, 116);
    --bordeoscuro:#78a4fc37;
    --borde:#3366cc;
    --grisclaro:rgba(104, 104, 104, 0.193); 
    --link:#0dcf0a;
    --prueba:#ff2af4;
    --prueba2:#2affca;
    --gris:#000000a6;
    --blanco:white;

    --card:rgba(89, 153, 153, 0.856);
    --cardborde:black;
    --cardsombra: rgba(162,162,162,0.75);
    --background-card: #4a4f5899;
}
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Lisu Bosa', serif; */
    padding: 0;/* 
    background-color: hsl(0, 0%, 70%); */
    margin: 0;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items:flex-start;
    height: 100vh;
    background-color: var(--background);
  }
  html{
    scroll-behavior: smooth;
  }

  /* @media (min-width:1000px) {
    
  } */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */